.grid-container-client-dashboard{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 70px 120px 400px;
  grid-gap: 0.1em;
}

.clientDashHeader{
  color: #548CA8;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  font-family: 'Noto Sans Display', sans-serif;
}

.clientDashHeader, .secondHeader, .userQueries, .topGrid{
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-container-client-dashboard > *{
  background: #1D1D1D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondHeader h2{
  color: #DDDDDD;
  font-size: 25px;
}
.topGrid{
  text-align: right;
  color: #EEEEEE;
  padding-right: 20px;
}


.btnViewProfileClient{
  background-color: #EEEEEE;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px;
  margin: 12px;
}

.btnViewProfileClient:hover{
  background-color: #548CA8;
  color: #EEEEEE;
}

.btnEditProfileClient{
  background-color: #EEEEEE;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px;
  margin: 12px;
}

.btnEditProfileClient:hover{
  background-color: #548CA8;
  color: #EEEEEE;
}

.btnViewPoliciesClient{
  background-color: #EEEEEE;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px;
  margin: 12px;
}

.btnViewPoliciesClient:hover{
  background-color: #548CA8;
  color: #EEEEEE;
}

.btnNewQueryClient{
  background-color: #EEEEEE;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px;
  margin: 12px;
}

.btnNewQueryClient:hover{
  background-color: #548CA8;
  color: #EEEEEE;
}

.userQueries label{
  font-style: oblique;
  color: red;
  font-size: 25px;
}

.tblUserQueryHeadings{
  color: #EEEEEE;
}

.tblUserQueryHeadings tr td{
  color: #EEEEEE;
}