.grid-viewInfo-wrapper{
    background-color: #1D1D1D;
    
}

.ViewClientInfoGrid h1{
    color: #548CA8;
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.viewInfoGrid div{
    color: #fff;
    font-size: 25px;
    text-align: left;
    margin-left: 320px;
}

.btnEditProfileClient{
    background-color: #EEEEEE;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    margin-left: 95px;
    width: 25%;
    margin-bottom: 50px;
    height: 65px;
    margin-top: 20px;
  }

  .btnEditProfileClient:hover{
    background-color: #548CA8;
    color: #EEEEEE;
  }

  .btnBackClientProfile{
    background-color: #EEEEEE;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    margin-left: 22px;
    width: 25%;
    margin-bottom: 50px;
    height: 65px;
    margin-top: 20px;
  }

  .btnBackClientProfile:hover{
    background-color: #548CA8;
    color: #EEEEEE;
  }

  .grid-viewInfo-wrapper button{
      display: inline-block;
  }

.btnDeleteClientProfile{
  background-color: #EEEEEE;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px;
  margin-left: 22px;
  width: 25%;
  margin-bottom: 50px;
  height: 65px;
  margin-top: 20px;
}

.btnDeleteClientProfile:hover{
  background-color: #548CA8;
  color: #EEEEEE;
}