h1{
    color: black;
}

.grid-container{
  display: grid;
  height: 400px;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #334257;
  padding: 20px;
}

.grid-container > div {
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
  }

  button{
    height: 80px;
    font-size: 20px;
    font-style: bold;
    font-family: 'Oxygen', sans-serif;
    border-radius: 8px;
  }

  button:hover{
    background-color: #476072;  
    color: #fff;    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }