.gridContact {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 500px;
  grid-gap: 0.1em;
  }
  
  .contactUsHeader{
    color: #EEEEEE;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
  }

.contactUsHeader {
grid-column-start: 1;
grid-column-end: 3;
}

.gridContact > * {
  background: #334257;
  display: flex;
  align-items: center;
  justify-content: center;
  }

    #faIcon{
        padding: 7px 7px 7px 7px;
        color: #EEEEEE;
    }

    #faIcon:hover{
        color: #548CA8;
    }

    .socialMediaBox{
        display: inline-block;
        text-align: center;
    }

    .socialMediaBox a{
        color: #000;
        margin: auto;
        text-align: center;
        vertical-align: middle;
    }

    .faCenter div:last-child{
        margin-right: 0;
    }

    h4{
        font-size: 20px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    .leftSideAbout{
      text-align: right;
      color: #EEEEEE;
    }

    .rightSideAbout{
      text-align: left;
      color: #EEEEEE;
    }