.gridContact {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 140px auto;
  grid-gap: 0em;
  }
  
  .contactUsHeader{
    color: #548CA8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
    font-family: 'Noto Sans Display', sans-serif;
  }

.contactUsHeader {
grid-column-start: 1;
grid-column-end: 3;
}

.gridContact > * {
  background: #1D1D1D;
  display: flex;
  align-items: center;
  justify-content: center;
  }

    .leftSideAbout{
      text-align: right;
      color: #EEEEEE;
      padding-right: 20px;
    }

    .leftSideAbout ul{
      list-style: none;
      text-align: right;
      font-size: 18px;
      
    }

    .rightSideAbout{
      text-align: left;
      color: #EEEEEE;
      padding-left: 20px;
      font-family: 'Noto Sans Display', sans-serif;
    }
    
    .rightSideAbout a{
      text-decoration: none;
      color: #EEEEEE;
    }
    
    .rightSideAbout a:hover{
      color: #548CA8;
    }

    .rightSideAbout h4{
      color: #548CA8; 
      margin-bottom: 28px;
    }
    .rightSideAbout ul{
      text-align: left;
      list-style: none;
      font-size: 18px;
    }

    .fa-facebook-square, .fa-linkedin, .fa-twitter-square, .fa-instagram{
      padding: 20px;
      size: 1em;
      font-size: 25px;
    }

    .fa-facebook-square, .fa-linkedin, .fa-twitter-square, .fa-instagram{
      padding: 10px;
      font-size: 25px;
    }

    .leftConatctH4{
      font-size: 20px;
      text-align: right;
      font-family: 'Noto Sans Display', sans-serif;     
      color: #548CA8; 
  }

.emailLbl:hover{
  cursor: pointer;
  color: #548CA8;
}

