.grid-container-admin{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 150px 100px 200px 200px 200px;
  grid-gap: 0.1em;
}

.adminDashHeader{
  color: #548CA8;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  font-family: 'Noto Sans Display', sans-serif;
}

.adminDashHeader, .subHeader, .adminButtons, .searchAdmin, .clientInfo, .tabelClientInfo{
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-container-admin > *{
  background: #1D1D1D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subHeader h2{
  color: #DDDDDD;
  font-size: 25px;
}

.adminButtons{
  text-align: right;
  color: #EEEEEE;
  padding-right: 20px;
}

.btnViewQueries, .btnViewMedicalSchemas{
  background-color: #EEEEEE;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px;
  margin: 12px;
}

.btnViewQueries:hover, .btnViewMedicalSchemas:hover{
  background-color: #548CA8;
  color: #EEEEEE;
}

.clientInfo h2{
  color: #548CA8;
  font-size: 20px;
  text-align: center;
}

.tabelClientInfo table, tr, th, td{
  outline: #DDDDDD;
  color: #fff;
}
