.ViewQueriesGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 100px 100px auto 100px;
    grid-gap: 0em;
}

.ViewQueriesHeader{
  color: #548CA8;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 80px;
  text-align: center;
}

.ViewQueriesHeader, .viewQueriesMain, .userQueryTable, .viewQueriesBtns, .btnBackAdminDash{
    grid-column-start: 1;
    grid-column-end: 3;
}

.ViewQueriesGrid > *{
    background: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewQueriesMain{
  text-align: right;
  color: #EEEEEE;
  padding-right: 20px;
}

.btnSearchQueries, .btnClearQueriesSearch{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 75px;
    line-height: 35px;
    width: 30%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 30px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .btnSearchQueries:hover, .btnClearQueriesSearch:hover{
    background: #548CA8;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .rowSearchQueries label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #fff;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 20px;
  }
  
  .colQueryLeft{
    float: left;
    margin-top: 6px;
  }
  
  .colQueryLeft label{
    font-family: 'Noto Sans Display', sans-serif;
    color: #fff;
    font-size: 25px;
  }

  .colQueryRight{
    float: left;
    
    margin-left: 60px;
  }
  
  /*.rowSearchQueries:after {
    content: "";
    display: table;
    clear: both;
  }*/

  .rowSearchQueries label{
    text-align: left;
    font-family: 'Noto Sans Display', sans-serif;
    color: #fff;
  }
  
  @media screen and (max-width: 600px) {
    .colQueryLeft, .colQueryRight{
      width: 100%;
      margin-top: 0;
    }
  }

  .rowSearchQueries input[type=text], select, textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    margin-left: -40px;
    margin-top: 6px;
  }

  /* TABLE STYLES */

.userQueryTable table{
    width: 80%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.userQueryTable table tr td {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 2px  rgba(0,0,0,.1);
    list-style: none;
}


.userQueryTable th, td{
  padding: 13px;
	background-color: rgba(255,255,255,0.1);
}

.tblQueryHeading{
    background-color: #548CA8;
    color: #fff;
    font-weight: bold;
}

.userQueryTable tbody{
    text-align: left;
    background-color: #EEEEEE;
}

.btnBackAdmin{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #EEEEEE;
  height: 75px;
  line-height: 35px;
  width: 30%;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color: #334257;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 30px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  margin-right: 10px;
  margin-left: 10px;
}

.btnBackAdmin:hover{
  background: #548CA8;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

