.gridIndividualScheme{
    background-color: #1D1D1D;
}

.viewIndSchema header{
    color: #548CA8;
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Noto Sans Display', sans-serif;
}

.viewSchemaRequest h5{
    color: #548CA8;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Noto Sans Display', sans-serif;
}

.viewSchemaRequest h6{
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans Display', sans-serif;
}

.btnAcceptSchema, .btnRejectSchema, .btnBackSchemaPage{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 85px;
    line-height: 35px;
    width: 28%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    margin-right: 12px;
    margin-left: 30px;
}

.btnAcceptSchema:hover, .btnRejectSchema:hover, .btnBackSchemaPage:hover{
    background: #548CA8;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

main{
    display: grid;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    grid-template-areas: "Policy User Information"
                            "Policy User Buttons";
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 60% 40%;
    grid-gap: 5px;
    min-height: 60vh;

}
#policyArea,#userArea,#informationArea,#buttonsArea{
    background-color: #272727;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
}
#policyArea{
    grid-area: Policy;
}
#userArea{
    grid-area: User;
}
#informationArea{
    grid-area: Information;
}
#buttonsArea{
    grid-area: Buttons;
}
